.body {
  display: flex;
  background-color: rgb(123, 203, 123);
  justify-content: center;
  align-items: center;
}

#center {
  color: black;
  font-weight: bold;
  margin: auto;

  flex-direction: column;
  height: 100vh;
}

#clock {
  font-size: 40px;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: orange;
}
